{% block group_list %}

<section class="dashboard-list">
    <div class="row no-gutters">
    {% block group_list_inner %}
    {% for group in groups %}
        {% set type = group.type or 'group' %}
        {% set url = h.url_for(type ~ '.read', id=group.name) %}
        <a href="{{ url }}" title="{{ _('View {name}').format(name=group.display_name) }}" class="dashboard-media">
            <div class="dashboard-module col-12 col-sm-4 col-lg-4">
                <div class="card module p-3 p-md-4 h-100">
                    <img src="{{ group.image_display_url or h.url_for_static('/base/images/placeholder-group.png') }}" alt="{{ group.name }}" class="media-image img-responsive card-img-top">
                    <div class="card-header">{{ group.display_name }}</div>
                    <div class="card-body p-0">
                        <p class="card-text">{{ h.markdown_extract(group.description, extract_length=160) }}</p>
                    </div>
                    {% if group.user_member %}
                        <input name="group_remove.{{ group.id }}" value="{{ _('Remove') }}" type="submit" class="btn btn-sm media-edit" title="{{ _('Remove dataset from this group') }}"/>
                    {% endif %}
                </div>
            </div>
        </a>
    {% endfor %}
    {% endblock %}
    </div>
</section>

{% endblock %}