{% block organization_list %}
<section class="dashboard-list">
    <div class="row no-gutters">
        {% for organization in organizations %}
            {% set url = h.url_for(organization.type ~ '.read', id=organization.name) %}
            <a href="{{ url }}" title="{{ _('View {organization_name}').format(organization_name=organization.display_name) }}" class="dashboard-media">
                <div class="dashboard-module col-12 col-sm-4 col-lg-4">
                    <div class="card module p-3 p-md-4 h-100">
                        <img src="{{ organization.image_display_url or h.url_for_static('/base/images/placeholder-organization.png') }}" alt="{{ organization.name }}" class="img-responsive media-image card-img-top">
                        <div class="card-header">{{ organization.display_name }}</div>
                        <div class="card-body p-0">
                            <p class="card-text">{{ h.markdown_extract(organization.description, extract_length=160) }}</p>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</section>
{% endblock %}
