<footer class="site-footer">
  <div class="container">
    {% block footer_content %}
    <div class="row footer-row ">
        <div class="text-center">
            <div class="footer-logo-wrapper ">
                <a href="https://www.oeiras.pt" target="_blank"><img src="/images/Logo_OeirasValley_Branco_vertical.png" alt="Município de Oeiras"></a>
            </div>
        </div>
    </div>
    {% endblock %}
  </div>

  {% block footer_debug %}
    {% if g.debug %}
      {% include 'snippets/debug.html' %}
    {% endif %}
  {% endblock %}
</footer>
