<header class="navbar navbar-static-top masthead">
  {% block header_debug %} 
      {% if g.debug and not g.debug_supress_header %}
      <div class="debug">Controller : {{ c.controller }}<br/>Action : {{ c.action }}</div>
      {% endif %} 
  {% endblock %}
  <div class="container">
    <div class="navbar-right">
      <button data-target="#main-navigation-toggle" data-toggle="collapse" class="navbar-toggle collapsed" type="button" aria-label="expand or collapse" aria-expanded="false">
        <span class="sr-only">{{ _('Toggle navigation') }}</span>
        <span class="fa fa-bars"></span>
      </button>
    </div>
    <hgroup class="{{ g.header_class }} navbar-left">
        {% block header_logo %} 
            {% if g.site_logo %}
                <a class="logo" href="{{ h.url_for('/') }}" target="_blank"><img src="{{ h.url_for_static_or_external(g.site_logo) }}" alt="{{ g.site_title }}" title="{{ g.site_title }}" /></a>
            {% else %}
                <h1>
                    <a href="{{ h.url_for('home.index') }}">{{ g.site_title }}</a>
                </h1>
                {% if g.site_description %}
                    <h2>{{ g.site_description }}</h2>
                {% endif %} 
            {% endif %} 
        {% endblock %}
    </hgroup>

    <div class="collapse navbar-collapse w-100" id="main-navigation-toggle">
        {% block header_site_navigation %}
            <ul class="nav navbar-nav">
            {% block header_site_navigation_tabs %}
                {{ h.build_nav_main(
                    ('home.index', _('Home')),
                    ('dataset.search', _('Datasets')),
                    ('organization.index', _('Organizations')),
                    ('group.index', _('Groups')),
                    ('stats.index', _('Statistics'))
                ) }}
            {% endblock %}
            </ul>
        {% endblock %}
        
        {% block header_account %}
            {% if c.userobj %}
                <ul class="account nav navbar-nav navbar-right" data-module="me" data-me="{{ c.userobj.id }}">
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">{{ h.user_image((c.user if c and c.user else ''), size=22) }} <span class="username">{{ c.userobj.display_name }}</span><span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="{{ h.url_for('user.read', id=c.userobj.name) }}"><i class="fa fa-user" aria-hidden="true"></i>
                            <span class="text">{{ _('View profile') }}</span></a></li>
                            {% block header_account_settings_link %}
                                <li>
                                  <a href="{{ h.url_for('user.edit', id=c.userobj.name) }}" title="{{ _('Profile settings') }}">
                                    <i class="fa fa-cog" aria-hidden="true"></i>
                                    <span class="text">{{ _('Profile settings') }}</span>
                                  </a>
                                </li>
                            {% endblock %} 
                            {% set new_activities = h.new_activities() %}
                            <li class="notifications {% if new_activities > 0 %}notifications-important{% endif %}">
                              {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', new_activities) %}
                              <a href="{{ h.url_for('dashboard.index') }}" title="{{ notifications_tooltip }}">
                                <i class="fa fa-tachometer" aria-hidden="true"></i>
                                <span class="text">{{ _('Dashboard') }}</span>
                                <span class="badge">{{ new_activities }}</span>
                              </a>
                            </li>
                            {% block header_account_logged %}
                                {% if c.userobj.sysadmin %}
                                    <li>
                                      <a href="{{ h.url_for(controller='admin', action='index') }}" >
                                        <i class="fa fa-gavel" aria-hidden="true"></i>
                                        <span class="text">{{ _('Admin') }}</span>
                                      </a>
                                    </li>
                                    <li>
                                      <a href="{{ h.url_for(controller='user', action='index') }}" >
                                        <i class="fa fa-users" aria-hidden="true"></i>
                                        <span class="text">{{ _('Users') }}</span>
                                      </a>
                                    </li>
                                {% endif %}
                                <li role="separator" class="divider"></li>
                                {% block header_account_log_out_link %}
                                    <li>
                                      <a href="{{ h.url_for('/user/_logout') }}" >
                                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                                        <span class="text">{{ _('Log out') }}</span>
                                      </a>
                                    </li>
                                {% endblock %} 
                            {% endblock %}
                        </ul>
                    </li>
                </ul>
            {% else %}
                {% block header_account_notlogged %}
                    <ul class="nav navbar-nav navbar-right" aria-label="{{ _('Account') }}">
                        <li>{% link_for _('Log in'), named_route='user.login' %}</li>
                        {% if h.check_access('user_create') %}
                            <li>{% link_for _('Register'), named_route='user.register', class_='sub' %}</li>
                        {% endif %}
                    </ul>
                {% endblock %}
            {% endif %}
        {% endblock %}
    </div>
  </div>
</header>