.stats ul li {
    text-align: center !important;
}

.stats ul {
    display: flex !important;
    justify-content: space-between !important;
}

.ct-root-wrapper .ct-page-wrapper .ct-content-wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    flex: 1 auto;
    -ms-flex: 1 0 0px;
    min-width: 0;
    overflow: hidden;
}

@media (min-width: 576px) {
    .ct-header-fixed .ct-page-wrapper {
        padding-top: 4.688rem;
    }
}

.ct-header-fixed .ct-page-wrapper {
    padding-top: 0;
}
.ct-root-wrapper .ct-page-wrapper {
    -webkit-box-orient: horizontal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}
.ct-root-wrapper .ct-page-wrapper, .ct-root-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-flex: 1;
}

.ct-root-wrapper .ct-page-wrapper, .ct-root-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-flex: 1;
}

.ct-root-wrapper {
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
    flex: 1;
    -ms-flex: 1 0 0px;
}

.bg-lilac-light {
    background-color: #fff!important;
}
.min-vh-100 {
    min-height: 100vh!important;
}

.h-100 {
    height: 100%!important;
}
.flex-column {
    flex-direction: column!important;
}
.d-flex {
    display: flex!important;
}

.select2-results .select2-highlighted {
    background: #008fb6 !important;
}

.select2-drop-active {
    border-color: #008fb6 !important;
}

.add-to-group .select2-container {
    margin-bottom: 20px;
}

.select2-container-active .select2-choice {
    border-color: #008fb6 !important
}

.context-info .image img {
    max-height: 155px !important;
    max-width: 155px !important;
    margin-left: auto;
    margin-right: auto;
}

.tags a.tag:hover {
    color: #fff !important;
    background-color: #008fb6 !important;
    border: 1px solid #008fb6 !important;
}

.additional-info .table-bordered > thead > tr > th {
    border: 1px solid #008fb6 !important;
    vertical-align: middle !important;
    background-color: #008fb6 !important;
    color: white !important;
}

.additional-info .table-bordered thead:first-child tr:first-child th:first-child {
    border-right: 1px solid white !important;
}

.table-chunky.table-bordered thead:first-child tr:first-child th:first-child {
    -webkit-border-top-left-radius: 0px !important;
    -moz-border-radius-topleft: 0px !important;
    border-top-left-radius: 0px !important;
    border-right: 1px solid white !important;
}

.table-bordered > thead > tr > th {
    border: 1px solid #008fb6 !important;
    vertical-align: middle !important;
    background-color: #008fb6 !important;
    color: #fff !important;
}

.w-100 {
    width: 100%!important;
}

.navbar-right {
    color: #505050 !important;
}

.toolbar .breadcrumb a {
    color: #505050 !important;
}

.nav-item.active > a:before, .nav-aside li.active a:before {
    border-left-color: #008fb6 !important;
}

.nav-item.active > a {
    background-color: #008fb6 !important;
}

.table > thead > tr > th {
    vertical-align: middle !important;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #008fb6 !important;
}

.table-chunky thead th, .table-chunky thead td {
    background-color: #008fb6 !important;
}

.header-image .logo img {
    content:url(/images/header_oeiras_valley.png);
}

.masthead .navigation .nav-pills li a:focus {
    background-color: #fff !important;
    outline: none !important;
}

.container {
    width: 100% !important;
}

.main {
    padding-top: 10px;
    background: #fff url(../../../base/images/bg.png) !important;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

body {
    font-family: 'Poppins', sans-serif !important;
    background-color: #fff !important;
}

.masthead {
    background: #fff none !important;
    border-bottom: 60px solid #008fb6 !important;
}

.masthead .container {
    display: flex;
    align-items: center!important;
}

.masthead .container .navbar-left {
    padding-left: 15px !important;
}

.masthead .container .navbar-collapse {
    padding: 0 !important;
    margin-left: 4rem;
}

.masthead .nav li.active a {
    background-color: transparent !important;
}

.masthead .nav  li  a {
    color: #008fb6!important;
    font-size: 16px !important;
    text-transform: lowercase;
    font-weight: 400;
}

.masthead .nav li a:hover {
    background-color: transparent !important;
    font-weight: 600;
}

.account.nav > li > a {
    font-size: 14px !important;
}

.homepage .hero {
    background: #fff none !important;
    padding: 5rem !important;
}

.homepage .module-search {
    background: transparent !important;
    max-width: 600px;
    margin: 60px auto 0;
    padding: 0 !important;
}

.homepage .module-search.box {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none !important;
}

.homepage .module-search .module-content {
    background-color: transparent !important;
    padding: 0 !important;
}

.homepage .hero .heading-main {
    letter-spacing: 2px;
}

.homepage .hero .subheading {
    margin: 0 auto 20px;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 2px;
}

.module-content .search-form h1 {
    font-size: 22px !important;
}

.module-content .nav > li > a {
    color: #008fb6 !important;
}

.margin-right-auto {
    margin-right: auto !important;
}

.margin-left-auto {
    margin-left: auto !important;
}

.float-none {
    float: none !important
}

.site-footer {
    background: transparent linear-gradient(290deg,#1dc2f3 0%,#008fb6 100%) 0% 0% no-repeat padding-box !important;
}

.site-footer label, .site-footer a {
    color: inherit !important;
}

.site-footer .lang-container {
    color: #707070 !important;
}

.footer-logo-wrapper img {
    max-width: 150px !important;
}

.btn {
    color: #008fb6 !important;
    background-color: #fff !important;
    border-color: #008fb6 !important;
}

.btn:hover {
    color: #fff !important;
    background-color: #008fb6 !important;
    border-color: #008fb6 !important;
}


a:hover {
    text-decoration: none !important;
}

.page-header {
    background-color: inherit !important;
}

.toolbar .breadcrumb {
    font-size: 16px !important;
}


.box.stats h3{
    text-align: center;
}

@media (min-width: 992px) {
    .dashboard-list .row.no-gutters {
        margin-left:-1.75rem;
        margin-right: -1.75rem
    }
    
    .dashboard-list .dashboard-module {
        padding: 0 1.75rem 3.5rem;
    }
}

@media (min-width: 768px){
    .p-md-4 {
        padding: 1.5rem!important;
    }
}

.dashboard-module .module .media-image {
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    max-height: 125px !important;
}

.dashboard-module .card-header {
    color: #6e6e6e!important;
    font-weight: 700;
    font-size: 1.563rem;
    transition: .2s ease-in-out;
}

.p-0 {
    padding: 0!important;
}

.border-0 {
    border: 0!important;
}

.bg-transparent {
    background-color: transparent!important;
}

.h-100 {
    height: 100%!important;
}

.card {
    position: relative;
}

.card.module {
    background-color: #fff;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #ddd;
    overflow: hidden;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    border-radius: 3px;
}

.card.module .card-header {
    margin-bottom: 1rem;
}

.card.module:hover {
    box-shadow: 0 0 0 2px rgb(0 0 0 / 10%) !important;
}

.card.module:hover .media-edit {
  opacity: 1 !important;
}

.card.module .media-edit {
  opacity: 0 !important;
}

.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card.module .card-body .card-text {
    font-weight: 500;
    font-size: 1.313rem;
    line-height: 1.63;
    color: #6e6e6e;
}

.card-subtitle, .card-text:last-child {
    margin-bottom: 0;
}

.card-body {
    flex: 1 1 auto;
    min-height: 65px;
    padding: 1.25rem;
}

.card.module .card-footer {
    position: relative;
}

.card-footer:last-child {
    border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.align-self-center {
    align-self: center!important;
}

.media-body {
    flex: 1;
}

.media {
    display: flex;
    align-items: flex-start;
}

.user-image {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.masthead .nav .open > a, .masthead  .nav .open > a:hover, .masthead  .nav .open > a:focus {
    background-color: transparent !important;
}